@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    padding-top: 80px;
    padding-bottom: 20px;
    letter-spacing: 1px;
    font-family: lobster;
    font-size: 2rem;
}

strong {
    font-weight: normal;
}

/*.navbar a {
    text-decoration: none;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

button, a {
    border-radius: 3px;
}

.navbar-collapse {
    background-color: white;
}

.navbar-brand {
    font-size: 2rem;
}

.navbar-nav li{
    border-bottom: 2px solid white;
    transition: all .5s ease-out;
}

    .navbar-nav li:hover {
        border-bottom: 2px solid goldenrod;
    }

.navbar-nav li a {
    text-decoration: none;
    color: goldenrod !important;
}

.navbar-fixed-top {
    background-color: white;
    padding-top: 10px;
}

.navbar-header button {
    color: goldenrod;
    border: 1px solid goldenrod;
}

.navbar-header span {
    color: goldenrod;
    border: 1px solid goldenrod;
}

.header-info {
    font-family: lobster;
    background-image: url(/Images/106872813.png);
    background-size: cover;
    min-width: inherit;
    min-height: 400px;
    color: goldenrod;
}

.wrap-header-info {
    background-color: rgba(0,0,0, .4);
    min-height: inherit;
    color: darkgoldenrod;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrap-header-info h1 {
    justify-self: center;
    align-content: center;
    text-align: center;
    font-size: 5rem;
}

.wrap-header-info h1, .wrap-header-info p {
    padding-bottom: 2rem;
}

.header-info a {
    text-decoration: none;
    color: goldenrod;
    font-size: 2rem;
    border: 1px solid palegoldenrod;
    padding: 15px 20px;
    transition: all .4s ease-out;
    background-color: none;
}

.header-info a:hover {
    background-color: palegoldenrod;
    color: darkgoldenrod;
}

.card {
    margin-bottom: 2.5rem;
}

.card-body a {
    text-decoration: none;
    color: darkgoldenrod;
    font-size: 1.5rem;
    border: 1px, solid, white;
    padding: 15px;
    padding-left: 0;
    transition: all .4s ease-out;
    background-color: none;
    font-size: 1.8rem;
}

.card-body a:hover {
    background-color: darkgoldenrod;
    border: 1px, solid, white;
    color: white;
    padding-left: 15px;
}

section {
    padding-top: 40px;
}

article {
    font-size: 2rem;
}

.card-img {
    min-width: 100%;
    overflow: hidden;
}

.card-img img {
    transition: all .4s ease-out;
}

.card-img img:hover {
    transform: scale(1.1);
}