@{
    ViewBag.Title = "Home Page";
}

<div class="header-info">
    <div class="wrap-header-info">
        <h1>Гостевой дом <strong>&laquo;Розалия&raquo;</strong></h1>
        <p class="lead">Бухта Геленджик</p>
        <p><a href="#" class="know-more">Learn more &nbsp; &rarr;</a></p>
    </div>
</div>

<section>
    <article>
        <p>Гостевой дом <strong>&laquo;Розалия&raquo;</strong> с садом расположен в курортном микрорайоне Лазаревское, менее чем в 1 км от пляжа Солоники. Из окон открывается вид на сад. В распоряжении гостей общая кухня, детская игровая площадка, открытый бассейн, бесплатный Wi-Fi и бесплатная частная парковка.</p>
        <br>
        <p>Во всех номерах установлены кондиционер, телевизор с плоским экраном и спутниковыми каналами, микроволновая печь, чайник, письменный стол и шкаф для одежды. В числе удобств собственная ванная комната с душем.</p>
        <br>
        <p>По утрам в гостевом доме <strong>&laquo;Розалия&raquo;</strong> сервируют континентальный завтрак.</p>
        <br>
        <p>На территории обустроена терраса для загара. В гостевом доме <strong>&laquo;Розалия&raquo;</strong> можно поиграть в дартс и настольный теннис.</p>
        <br>
        <p>Аквапарк «Наутилус» находится в 2,9 км, а парк аттракционов — в 3,4 км. Расстояние от гостевого дома <strong>&laquo;Розалия&raquo;</strong> до международного аэропорта Сочи составляет 68 км.</p>
        <br>
        <p>Мы говорим на вашем языке!</p>
    </article>
</section>

<section>
    <div class="row">
        <div class="card col-md-4">
            <div class="card-img">
                <a href="#"><img src="~/Images/106872813.png" style="width: 100%;" class="card-img-top" alt="..."></a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Комната №1</h4>
                <p class="card-text"><b>11кв вместимость 2 чел.</b><br> 1200₽ 01.05-31.05 1300₽; с 01.06-15.06 1700₽; с 16.06-30.06 2000₽; с 01.07-15.07 2300₽; с 16.07-31.07 2500₽; с 01.08-31.08 1500₽; с 01.09-30.09</p>
                <p><a class="know-more-btn" href="#">Подробнее &raquo;</a></p>
            </div>
        </div>
        <div class="card col-md-4">
            <div class="card-img">
                <a href="#"><img src="~/Images/106872813.png" style="width: 100%;" class="card-img-top" alt="..."></a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Комната №1</h4>
                <p class="card-text"><b>11кв вместимость 2 чел.</b><br> 1200₽ 01.05-31.05 1300₽; с 01.06-15.06 1700₽; с 16.06-30.06 2000₽; с 01.07-15.07 2300₽; с 16.07-31.07 2500₽; с 01.08-31.08 1500₽; с 01.09-30.09</p>
                <p><a class="know-more-btn" href="#">Подробнее &raquo;</a></p>
            </div>
        </div>
        <div class="card col-md-4">
            <div class="card-img">
                <a href="#"><img src="~/Images/106872813.png" style="width: 100%;" class="card-img-top" alt="..."></a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Комната №1</h4>
                <p class="card-text"><b>11кв вместимость 2 чел.</b><br> 1200₽ 01.05-31.05 1300₽; с 01.06-15.06 1700₽; с 16.06-30.06 2000₽; с 01.07-15.07 2300₽; с 16.07-31.07 2500₽; с 01.08-31.08 1500₽; с 01.09-30.09</p>
                <p><a class="know-more-btn" href="#">Подробнее &raquo;</a></p>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="card col-md-4">
            <div class="card-img">
                <a href="#"><img src="~/Images/106872813.png" style="width: 100%;" class="card-img-top" alt="..."></a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Комната №1</h4>
                <p class="card-text"><b>11кв вместимость 2 чел.</b><br> 1200₽ 01.05-31.05 1300₽; с 01.06-15.06 1700₽; с 16.06-30.06 2000₽; с 01.07-15.07 2300₽; с 16.07-31.07 2500₽; с 01.08-31.08 1500₽; с 01.09-30.09</p>
                <p><a class="know-more-btn" href="#">Подробнее &raquo;</a></p>
            </div>
        </div>
        <div class="card col-md-4">
            <div class="card-img">
                <a href="#"><img src="~/Images/106872813.png" style="width: 100%;" class="card-img-top" alt="..."></a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Комната №1</h4>
                <p class="card-text"><b>11кв вместимость 2 чел.</b><br> 1200₽ 01.05-31.05 1300₽; с 01.06-15.06 1700₽; с 16.06-30.06 2000₽; с 01.07-15.07 2300₽; с 16.07-31.07 2500₽; с 01.08-31.08 1500₽; с 01.09-30.09</p>
                <p><a class="know-more-btn" href="#">Подробнее &raquo;</a></p>
            </div>
        </div>
        <div class="card col-md-4">
            <div class="card-img">
                <a href="#"><img src="~/Images/106872813.png" style="width: 100%;" class="card-img-top" alt="..."></a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Комната №1</h4>
                <p class="card-text"><b>11кв вместимость 2 чел.</b><br> 1200₽ 01.05-31.05 1300₽; с 01.06-15.06 1700₽; с 16.06-30.06 2000₽; с 01.07-15.07 2300₽; с 16.07-31.07 2500₽; с 01.08-31.08 1500₽; с 01.09-30.09</p>
                <p><a class="know-more-btn" href="#">Подробнее &raquo;</a></p>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="card col-md-4">
            <div class="card-img">
                <a href="#"><img src="~/Images/106872813.png" style="width: 100%;" class="card-img-top" alt="..."></a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Комната №1</h4>
                <p class="card-text"><b>11кв вместимость 2 чел.</b><br> 1200₽ 01.05-31.05 1300₽; с 01.06-15.06 1700₽; с 16.06-30.06 2000₽; с 01.07-15.07 2300₽; с 16.07-31.07 2500₽; с 01.08-31.08 1500₽; с 01.09-30.09</p>
                <p><a class="know-more-btn" href="#">Подробнее &raquo;</a></p>
            </div>
        </div>

    </div>
</section>